version: "3.9"
services:
    web:
        build: ./api-cadastro-cliente
        ports:
            - "8000:80"
        depends_on:
            - db
    db:
        image: "microsoft/mssql-server-windows-express"
        environment:
            SA_PASSWORD: "bQ7gE5tL@@xm9WTa"
            ACCEPT_EULA: "Y"
